*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Space Mono", monospace;
}
h1 {
  font-family: "Source Serif 4", serif;
}
.header {
  height: 100px;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: 100px;
  align-items: center;
  background-color: #f8f7f4;
  font-size: 0.875rem;
}

.nav-list {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  font-weight: bold;
}

.logo {
  width: 100px;
  height: 40px;
}
.logo-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-controls {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  font-weight: bold;
}
.search-box {
  position: relative;
  width: 300px;
}

.search-input {
  padding: 1rem 3rem;
  border-radius: 10rem;
  outline: none;
  border: none;
  cursor: text;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 55%;
  transform: translateY(-50%);
}

.search-icon .search-logo {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
}

.btn {
  padding: 0 24px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  justify-content: center;
}

.btn-primary {
  background-color: #000;
  color: #fff;
}
.btn-primary:is(:hover, :focus-visible) {
  background-color: #767676;
}
.btn-secondary,
.nav-link {
  position: relative;
}
.btn-secondary::after,
.nav-link::after {
  height: 2px;
  width: 0%;
  content: "";
  position: absolute;
  background-color: #0a0a0a;
  bottom: 0.5rem;
  transition: all 0.4s ease;
}

.nav-link::after {
  bottom: -0.25rem;
  height: 3px;
  left: 0;
}
.btn-secondary:hover::after,
.btn-secondary:focus-visible::after,
.nav-link:hover::after,
.nav-link:focus-visible::after {
  width: 80%;
}
