.footer {
  padding: 60px 0 10px;
  width: 100%;
  background-color: rgb(226, 225, 225);
}

.product-slider {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.products {
  display: inline-block;
  z-index: 5;
  cursor: pointer;
  overflow-x: auto;
  overflow-y: hidden;
  width: max-content;
}
.product {
  padding: 1rem;
  display: inline-block;
}

.product-img {
  width: 12rem;
  height: 9rem;
  border-radius: 0.5rem;
  z-index: 10;
  position: relative;
  transition: all 0.6s ease;
}

.product-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -10px;
  right: -10px;
  background: rgba(153, 205, 50, 0.5);
  border-radius: 0.5rem;
  z-index: -1;
  transition: all 0.6s ease;
}
.product-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -10px;
  left: -10px;
  background: rgba(37, 225, 140, 0.5);
  border-radius: 0.5rem;
  z-index: -2;
  transition: all 0.6s ease;
}

.product-img:hover::after {
  top: 5px;
  right: 5px;
}
.product-img:hover::before {
  bottom: 5px;
  left: 5px;
}

.product-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.product-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark);
  margin-top: 16px;
  margin-left: 6px;
  z-index: 5;
}

/* Footer Nav */

.footer-nav {
  max-width: 75rem;
  margin: 4.5rem auto 2.75rem;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  gap: 2rem;
}
.footer-logo {
  width: 108px;
  height: 30px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-list {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  gap: 1rem;
  justify-self: center;
}
.footer-nav-link {
  position: relative;
  transition: all 0.3s ease;
}
.footer-nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #0d0c22;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
}
.footer-nav-link:hover::after {
  width: 100%;
  opacity: 1;
}

.social-link {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.social-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.menu-toggle {
  width: 3rem;
  height: 3rem;
  display: none;
  padding: 0.5rem;
}
.menu-toggle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
