:root {
  --dark: #0d0c22;
  --light-grey: #f8f7f4;
  --grey: #565564;
  --peach: #ffda79;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  width: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* Btn */

.btn {
  padding: 0 24px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  justify-content: center;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--dark);
  color: #fff;
}
.btn-primary:is(:hover, :focus-visible) {
  background-color: var(--grey);
}
.btn-secondary,
.nav-link {
  position: relative;
}
.btn-tertiary {
  background-color: #fff;
  color: var(--dark);
}
.btn-tertiary:is(:hover, :focus-visible) {
  background-color: #d4d4d4;
  color: var(--dark);
}
.btn-secondary::after,
.nav-link::after {
  height: 2px;
  width: 0%;
  content: "";
  position: absolute;
  background-color: var(--grey);
  bottom: 0.5rem;
  transition: all 0.4s ease;
}

.nav-link::after {
  bottom: -0.25rem;
  height: 2px;
  left: 0;
}
.btn-secondary:hover::after,
.btn-secondary:focus-visible::after,
.nav-link:hover::after,
.nav-link:focus-visible::after {
  width: 80%;
}
